<html>
    <head>
        <title>DeCharity Login Authentication</title>

        <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
	    <script src="https://unpkg.com/moralis/dist/moralis.js"></script>
    </head>

    <body>

        <button onclick="login()">Login with Metamask</button>

        <script>
            Moralis.Initialize("vm0aSFKVnyJqnwGC0NOufVZWOfAL0RguapvHCLdj"); //Application ID
            Moralis.serverURL("https://qfvxfqe1l6ng.usemoralis.com:2053/server");   //Server URL 

            function login() {
                console.log("login clicked");
                var user = await Moralis.Web3.authenticate();
                if(user){
                    console.log(user);
                }
            }
        </script>
    </body>
</html>