html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #035397;
  font-size: 5rem !important;
}

h2 {
  color: #035397;
  font-size: 4rem;
}

p {
  color: #051367;
  font-size: 2rem !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
}

/** BEGIN OF COMMON CLASSES */
.center-abs-div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.fade-in {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.shine {
  background-image: linear-gradient(
    -90deg,
    #222831 0%,
    #222831,
    40%,
    #e3fdfd 49%,
    #cbf1f5 50%,
    #a6e3e9 51%,
    #222831 60%,
    #222831 100%
  );
  background-size: 10em, auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: shine 5s linear infinite;
  opacity: 1 !important;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-2s {
  animation-delay: 2s;
}

.no-interactions {
  pointer-events: none;
  user-select: none;
}

.abs-top-50 {
  position: absolute;
  top: 50px;
}
/** END OF COMMON CLASSES */

/** BEGIN OF ANIMATIONS  */
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: 100%, 0%;
  }
  25% {
    background-position: -20%, 0%;
  }
  100% {
    background-position: -20%, 0%;
  }
}
/** END OF ANIMATIONS */

/** HEADER */
.nav-link {
  color: #4b7be5 !important;
}
/** END OF HEADER */

/** HOME */
#home {
  background-color: #cff1ef;
  background-image: url("../public/images/background-main.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100vh;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .nav {
    .nav-link {
      color: #1b1a17;
      font-size: 25px;
      font-weight: 600;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
/** END OF HOME */

/** FAQs */
#faq {
  background-color: #398AB9;

  .wrapper {
    width: 100%;
  }

  h1 {
    margin-bottom: 20px;
  }

  .container {
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.25);
    margin: 20px auto;
  }

  .question {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 80px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .question::after {
    content: "\002B";
    font-size: 2.2rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
  }

  .question.active::after {
    transform: rotate(45deg);
  }

  .answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }

  .answer {
    padding: 0 20px 20px;
    line-height: 1.5rem;
  }

  @media screen and (max-width: 790px) {
    html {
      font-size: 14px;
    }
  }
}
/** END OF FAQs */

/** PROFILE */
#profile {

  @import url("https://fonts.googleapis.com/css?family=Teko:500");
	
  $black-hue: 253;
  $black-saturation: 8;
  
  $black: hsl(253, 8, 2);
  $coal: hsl(253, 8, 12);
  $darkgrey: hsl(253, 8, 15);
  $grey: hsl(253, 8, 21);
  $silver: hsl(253, 8, 40);
  $gainsboro: hsl(253, 8, 60);
  $whitesmoke: hsl(253, 8, 82);
  $white: hsl(253, 8, 92);
    
  $purple: hsl(291, 100, 45);
  $pink: hsl(335.9, 89%, 46.5%);
  $red: hsl(0, 80, 51);
  $orangered: hsl(4, 66, 51);
  $orange: hsl(35.9, 89%, 46.5%);
  $gold: hsl(42, 100%, 55%);
  $yellow: hsl(225,225,0);
  $green: hsl(95.8, 89.9%, 46.5%);
  $blue: hsl(215.9, 89%, 46.5%);
  $turquoise: hsl(155.8, 89.9%, 46.5%);

  brand-type {
    font-family: 'Teko';
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    letter-spacing: .04em;
    line-height: 1;
    text-transform: uppercase;
  }

  html {
    background-color: coal;
    color: whitesmoke;
    font-family: sans-serif;
  }
  
  body {
    margin: 2rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minimax(12rem,16rem));
    grid-gap:2rem;
    justify-content: center;
  }
	
.profile-card {
	background-color: white;
	color: black;
	padding: 15vmin, 20vmin;
	text-align: center;
  background: #d8faf0;
  
	@media (min-width: 800px) {
    padding-bottom: 25vmin;
  }
		
	&__title {
    // {brand-type}
		margin: 0;
		font-size: calc(28px + 8vmin);
  }
		
	&__subtitle {
    margin: 0;
		color: silver;
		font-size: 18px;
		margin-bottom: 96px;
		&::before {
			content: '@';
    }
  }
		
	&__avatar {
		display: inline-block;
		margin: 0;
		border-radius: 50%;
		border: 4px solid #fff;
		width: 100px;
		height: 100px;
  }	
}
}
/** END OF PROFILE */

/** START OF PROJECT-CARD*/
#project-card {
  @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

  /*   color variables */
  $clr-primary: #035397;
  $clr-primary-hover: #29e6a7;
  $clr-primary-dark: #039d69;
  $clr-gray100: #f9fbff;
  $clr-gray150: #f4f6fb;
  $clr-gray200: #eef1f6;
  $clr-gray300: #e1e5ee;
  $clr-gray400: #767b91;
  $clr-gray500: #4f546c;
  $clr-gray600: #2a324b;
  $clr-gray700: #161d34;

  /*   border radius */
  $radius: 0.8rem;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Oxygen, sans-serif;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem,
     16rem));
    grid-gap:2rem;
    justify-content: center;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 40rem));
    gap: 2rem;
    justify-content: center;
    background: #d8faf0;
  }

  .card {
    overflow: hidden;
    box-shadow: 0 2px 20px $clr-gray300;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;

    &__image {
      height: 12rem;
      width: 100%;
      object-fit: cover;
    }

    &__title {
      padding: 1rem;
      font-size: 2rem;
    }

    &__description {
      padding: 0 1rem;
      font-size: 1rem;
    }

    &__btn {
      padding: 1rem;
      font-family: inherit;
      font-weight: bold;
      font-size: 1rem;
      margin: 1rem;
      border: 2px solid $clr-primary;
      background: transparent;
      color: $clr-primary;
      border-radius: $radius;
      transition: background 200ms ease-in, color 200ms ease-in;
    }

    &:hover {
      transform: scale(1.02);
    }

    &:hover &__btn {
      background: $clr-primary;
      color: white;
    }
  }
}
/** END OF PROJECT-CARD*/