html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

/** COLORS */
$main-bg-color: #cff1ef;
$main-h-color: #035397;

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: $main-h-color;
}

h1 {
  font-size: 5rem !important;
}

h2 {
  font-size: 4rem;
}

p {
  color: #051367;
  font-size: 2rem !important;
}

th {
  background-color: #a8d8ea !important;
}

tr {
  background-color: #E8F9FD !important;
}

td {
  vertical-align: middle;
}

/** BEGIN OF COMMON CLASSES */
.center-abs-div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.main-container {
  min-height: calc(100vh - 50px);
  padding-top: 50px;
  background-color: $main-bg-color;
}

.progress-bar-wrapper {
  .progress {
    margin-bottom: 1rem !important;
  }

  p {
    font-size: 1.5rem !important;
  }
}

// Back button
.back-btn {
  background-color: $main-h-color !important;
  color: $main-bg-color !important;
  position: absolute !important;
  top: 0;
  left: 0;
}

.pt-10 {
  padding-top: 6rem;
}

.pb-10 {
  padding-bottom: 6rem;
}

.mt-10 {
  margin-top: 6rem;
}

.mb-10 {
  margin-bottom: 6rem;
}

.padding-inline-1rem {
  padding: 0 1rem;
}

.fade-in {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.shine {
  background-image: linear-gradient(
    -90deg,
    #222831 0%,
    #222831,
    40%,
    #e3fdfd 49%,
    #cbf1f5 50%,
    #a6e3e9 51%,
    #222831 60%,
    #222831 100%
  );
  background-size: 10em, auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: shine 5s linear infinite;
  opacity: 1 !important;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-2s {
  animation-delay: 2s;
}

.no-interactions {
  pointer-events: none;
  user-select: none;
}
/** END OF COMMON CLASSES */

/** BEGIN OF ANIMATIONS  */
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: 100%, 0%;
  }
  25% {
    background-position: -20%, 0%;
  }
  100% {
    background-position: -20%, 0%;
  }
}
/** END OF ANIMATIONS */

/** LOADER */
.loader-wrapper {
  background-color: $main-bg-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/** END OF LOADER */

/** HEADER */
.nav-link {
  color: #4b7be5 !important;
}
/** END OF HEADER */

/** HOME */
#home {
  padding-top: 50px;
  background-color: $main-bg-color;
  background-image: url("../public/images/background-main.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;

  .home-wrapper {
    height: calc(100vh - 51.5px - 50px);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/** END OF HOME */

/** HEADER */
.nav {
  .nav-link {
    color: #1b1a17;
    font-size: 25px;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
  }

  .vl-wrapper {
    position: relative;

    .vl {
      border-left: 6px solid green;
      border-radius: 1rem;
      height: 50%;
      margin: auto 0;
      position: absolute;
      top: 25%;
    }
  }
}
/** END OF HEADER */

/** FAQs */
#faq {
  background-color: #398ab9;

  .wrapper {
    width: min(100% - 5rem);
    margin-inline: auto;
  }

  h1 {
    margin-bottom: 20px;
  }

  .container {
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.25);
    margin: 20px auto;
  }

  .question {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 80px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;
  }

  .question::after {
    content: "\002B";
    font-size: 2.2rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
  }

  .question.active::after {
    transform: rotate(45deg);
  }

  .answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }

  .answer {
    font-size: 1.2rem !important;
    padding: 0 20px 20px;
    line-height: 1.5rem;
  }
}
/** END OF FAQs */

/** ROADMAP */
#roadmap {
  h2 {
    color: #eee;
  }
  background-color: #393e46;
  color: #eee;
  padding: 30px 50px;

  .point {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    position: relative;

    // &:first-child {
    //   .point-index {
    //     top: auto;
    //     bottom: 0;
    //     transform: translate(-50%, 2px) !important;
    //   }
    // }

    // &:last-child {
    //   .point-index {
    //     top: 0;
    //     transform: translate(50%, -2px) !important;
    //   }
    // }

    &:not(:last-child) {
      border-bottom: 2px solid gold;
    }

    &:nth-child(odd) {
      align-items: flex-start;

      &:not(:first-child) {
        border-left: 2px solid gold;
      }

      .point-index {
        left: 0;
        transform: translate(-50%, -50%);
      }
    }

    &:nth-child(even) {
      align-items: flex-end;

      &:not(:last-child) {
        border-right: 2px solid gold;
      }

      .point-index {
        right: 0;
        transform: translate(50%, -50%);
      }
    }

    .point-index {
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      background: #151317;
      border: 2px solid gold;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 23px;
      font-weight: bold;
    }

    .point-label {
      flex: 1 0 100%;
      width: 100%;
      font-size: 14px;
      margin-bottom: 5px;

      @media (min-width: 641px) {
        flex: 1 0 50%;
        width: 50%;
      }
    }

    .point-text {
      flex: 1 0 100%;
      width: 100%;
      font-size: 12px;
      color: darken(#ffffff, 20%);
      text-align: left;

      @media (min-width: 641px) {
        flex: 1 0 50%;
        width: 50%;
      }
    }
  }
}
/** END OF ROADMAP */

/** PROJECT-CARD */
#project-card {
  $main-h-color: $main-h-color;

  /*   border radius */
  $radius: 0.8rem;

  .wrapper {
    width: min(100% - 4rem);
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    max-width: 25rem;
    overflow: hidden;
    margin: 1rem;
    border-radius: $radius;
    cursor: pointer;
    transition: transform 200ms ease-in;

    &__image {
      width: 100%;
    }

    &__title {
      padding: 1rem;
      font-size: 1.5rem !important;
      font-weight: 700;
    }

    &__description {
      word-break: break-all;
      padding: 0 1rem;
      font-size: 1.5rem !important;
    }

    &__btn {
      padding: 1rem;
      font-family: inherit;
      font-weight: bold;
      font-size: 1rem;
      margin: 1rem;
      border: 2px solid transparent;
      background: $main-h-color;
      border-radius: $radius;
      transition: 200ms ease-in;
      color: #fff;

      &:hover {
        border-color: $main-h-color;
        background: transparent;
        color: $main-h-color;
      }

      &::after {
        content: "";
        flex: auto;
      }
    }
  }
}
/** END OF PROJECT-CARD */

/** CAMPAIGN DETAIL */
#campaign-detail {
  .wrapper {
    width: min(100% - 20rem);
    margin-inline: auto;

    h4 {
      word-wrap: break-word;
    }
    .campaign-info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .cards {
        justify-content: center;
      }
    }
  }
}
/** END OF CAMPAIGN DETAIL */

/** REQUESTS */
#requests,
#new-requests,
#new-campaign {
  .wrapper {
    width: min(100% - 20rem);
    margin-inline: auto;
  }

  .error {
    p {
      color: rgba(0, 0, 0, 0.87);
      font-size: 0.92857143em !important;
      font-weight: 700;
    }
  }
}
/** END OF REQUESTS */

/** DROPDOWN FILTER */
.dropdown-filter {
  width: 50% !important;
  margin-inline: auto;

  a {
    text-decoration: none;
  }
}
/** END OF DROPDOWN FILTER */

/** FOOTER */
#footer {
  width: 100%;
  text-align: center;
}
/** END OF FOOTER */

/** RESPONSIVE MOBILE */
@media only screen and (max-width: 910px) {
  .nav {
    li:nth-of-type(n + 2):nth-of-type(-n + 5) {
      display: none;
      visibility: hidden;
    }
  }

  .back-btn {
    display: none !important;
    visibility: hidden !important;
  }

  .wrapper {
    width: min(100% - 5rem) !important;
  }
}

@media only screen and (max-width: 450px) {
  .nav {
    .nav-link {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}
/** END OF RESPONSIVE MOBILE */
